body { background-color: #36393f;
    color: #ffff;
    background-image:url("images/bg.gif");
    font-family: Arial, sans-serif; 
    font-size: 16px;
     line-height: 1.6;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     overflow-x: hidden; 

   } 


   header {
    position: sticky; 
    z-index: 1;
    top: 0px;
       background: #5865f2bd;
       color: #fff;
       padding: 15px;
       text-align: center;
       border-radius: 15px 15px 5px 5px;
   }

   nav ul {
       list-style: none;
       padding: 0;
   }

   nav ul li {
       display: inline;
       margin: 20px;
   }

   nav ul li a {
       color: #fff;
       text-decoration: none;
   }

   nav ul li a:hover {
       color: #ccc;
   }

   section {
       padding: 20px;
       margin: 20px ;
   }
       h1{
        text-align: center;
         font-size: 3rem;
       }
         h2{

            font-size: 2rem;
            text-align: center;
   }
   .text1{
    text-align: center;
    font-size: 1.25rem;

   }


   .overlay{ background-image: linear-gradient(rgba(3, 3, 3, 0.7),rgba(3, 3, 3, 0.8));
    border-radius: 15px;
}
   footer {
    text-align: center;
    padding: 15px;
    background: #5865f2ab;
    color: #ffff;
    border-radius: 5px 5px 15px 15px;
   }
   .grid-container{
    display: inline-grid;

    grid-template-rows: 550px ;

    grid-template-areas:
    'a a b'
    ;
   }
   .item1{ grid-area: a;
position: relative;}
   .item2{grid-area: b;
    position: relative;
   margin: 0 auto;
right: 20px;
top: 40px;
}
.container{
display: inline-grid;
       grid-template-columns: auto auto;
       margin: 20px;

    }

    .c{
        padding: 20px;
        text-align: center;

    }

    a, a:link, a:visited {
        color: #FFFAFA;
        text-decoration: none;

    }
    button {
        padding: 10px 20px;
        text-transform: uppercase;
        border-radius: 8px;
        font-size: 17px;
        font-weight: 500;
        color: #ffffff;
        text-shadow: none;
        background: transparent;
        cursor: pointer;
        box-shadow: transparent;
        border: 1px solid #ffffff80;
        transition: 0.5s ease;
        user-select: none;
        margin: auto;
        display: block;
      }

      #btn:hover,
      :focus {
        color: #ffffff;
        background: #5865f2ab;
        border: 1px solid #008cff;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
        box-shadow: 0 0 5px #5865f2ab, 0 0 20px #5865f2ab, 0 0 50px #008cff,
          0 0 100px #008cff;
      }
    .promo{
        text-align: center;


        }
        p{ text-align: center;
            font-size: 1rem;}

    @media only screen and (max-width: 650px){
    .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "a"
    "b";
    }
    .item2{grid-area: b;
        position: relative;
       margin: 0 auto;
    right: 0px ;
    }
    .container    {
        grid-template-columns: 1fr;
        grid-template-areas: "a"
        "b";
        }
   body {background-attachment: fixed;}

   nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
    }
