

body { background-image: linear-gradient(#36393f,#202225); 
 color: #ffff;
 font-family: 'Arial', sans-serif; line-height: 1.6; 
 margin: auto;
} 

.card {
 
   color: rgb(242, 88, 88);
}
header {
    background: #5865f2;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ccc;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: px;
    background-color: #bebbbe;
    padding: px;
}

.grid-item {
    background-color: #202225;
    border: 1px solid #ffff;
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #5865f2;
    color: #ffff;
}
h1{
    text-align: center;
    font-size: 48px;
}
h2{
    text-align: center;
    font-size: 36px;
}
p{
    text-align: center;
    font-size: 16px;
}
