
body {
    background-color: #f4f4f4;
    background-image: url(background.jpg);
    color: #333;
    font-family: 'Arial', sans-serif;
    line-height: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    background-blend-mode: multiply;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #7289da;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: rgba(16, 90, 175, 0.288);
    padding: 10px;
}

.grid-item {
    background-color:  rgba(16, 90, 175, 0.288);
    border: 1px solid rgb(16, 90, 175);
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: rgb(16, 90, 175);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}